USE [W_GnBD]
if (1 > isnull((select versindx from RMScfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'RMSMEM_CODMEM__', 'codmem', 1, 1, 0, 1
 
exec CheckIdxTmp @tabela, 'rmsmem', 'RMSMEM_CODMEM__', 'rms';
end
GO
if (1 > isnull((select versindx from RMScfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'USERLOGIN_CODPSW__', 'codpsw', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Tabela NotDup PSW
SELECT 'RMSPSW_CCA23CAAD08E43FE', 'nome', 0, 1, 0, 0
UNION ALL
SELECT 'RMSPSW_CCA23CAAD08E43FE','zzState', 0, 0, 1, 0

exec CheckIdxTmp @tabela, 'userlogin', 'USERLOGIN_CODPSW__', 'rms';
end
GO
if (1 > isnull((select versindx from RMScfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'ASYNCPROCESS_CODASCPR', 'codascpr', 1, 1, 0, 1
 
exec CheckIdxTmp @tabela, 'asyncprocess', 'ASYNCPROCESS_CODASCPR', 'rms';
end
GO
if (1 > isnull((select versindx from RMScfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'NOTIFICATIONEMAILSIGNATURE_CODSIGNA', 'codsigna', 1, 1, 0, 1
 
exec CheckIdxTmp @tabela, 'notificationemailsignature', 'NOTIFICATIONEMAILSIGNATURE_CODSIGNA', 'rms';
end
GO
if (1 > isnull((select versindx from RMScfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'NOTIFICATIONMESSAGE_CODMESGS', 'codmesgs', 1, 1, 0, 1
 
exec CheckIdxTmp @tabela, 'notificationmessage', 'NOTIFICATIONMESSAGE_CODMESGS', 'rms';
end
GO
if (6 > isnull((select versindx from RMScfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'RMST_003_CODT_003', 'codt_003', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Tabela NotDup AT_02
SELECT 'RMST_003_93B4C6CF6FFA4C94', 'country', 0, 1, 0, 0
UNION ALL
SELECT 'RMST_003_93B4C6CF6FFA4C94','zzState', 0, 0, 1, 0

exec CheckIdxTmp @tabela, 'rmscountry', 'RMST_003_CODT_003', 'rms';
end
GO
if (1 > isnull((select versindx from RMScfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'ASYNCPROCESSARGUMENT_CODARGPR', 'codargpr', 1, 1, 0, 1
 
exec CheckIdxTmp @tabela, 'asyncprocessargument', 'ASYNCPROCESSARGUMENT_CODARGPR', 'rms';
end
GO
if (1 > isnull((select versindx from RMScfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'ASYNCPROCESSATTACHMENTS_CODPRANX', 'codpranx', 1, 1, 0, 1
 
exec CheckIdxTmp @tabela, 'asyncprocessattachments', 'ASYNCPROCESSATTACHMENTS_CODPRANX', 'rms';
end
GO
if (1 > isnull((select versindx from RMScfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'USERAUTHORIZATION_CODUA___', 'codua', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Tabela NotDup S_UA
SELECT 'RMSS_UA_01B6789F45444633', 'naodupli', 0, 1, 0, 0
UNION ALL
-- Index with origin: Tabela NotDup S_UA
SELECT 'RMSS_UA_01B6789F45444633', 'role', 0, 2, 0, 0
UNION ALL
SELECT 'RMSS_UA_01B6789F45444633','zzState', 0, 0, 1, 0

exec CheckIdxTmp @tabela, 'userauthorization', 'USERAUTHORIZATION_CODUA___', 'rms';
end
GO
if (6 > isnull((select versindx from RMScfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'RMST_004_CODT_004', 'codt_004', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Tabela NotDup T_004
SELECT 'RMST_004_4ABAD32F84FC431F', 'city', 0, 1, 0, 0
UNION ALL
SELECT 'RMST_004_4ABAD32F84FC431F','zzState', 0, 0, 1, 0

exec CheckIdxTmp @tabela, 'rmscity', 'RMST_004_CODT_004', 'rms';
end
GO
if (7 > isnull((select versindx from RMScfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'RMST_001_CODT_001', 'codt_001', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Tabela NotDup T_001
SELECT 'RMST_001_0EADA1FA59954183', 'email', 0, 1, 0, 0
UNION ALL
SELECT 'RMST_001_0EADA1FA59954183','zzState', 0, 0, 1, 0

exec CheckIdxTmp @tabela, 'rmst_agent', 'RMST_001_CODT_001', 'rms';
end
GO
if (12 > isnull((select versindx from RMScfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'RMST_002_CODT_002', 'codt_002', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Tabela NotDup T_002
SELECT 'RMST_002_F7B0007FB1614C7C', 'order', 0, 1, 0, 0
UNION ALL
SELECT 'RMST_002_F7B0007FB1614C7C','zzState', 0, 0, 1, 0
UNION ALL
-- Index with origin: Menu RMS_411
SELECT 'RMST_002_C9DEFBF763FA44A0', 'title', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu RMS_411
SELECT 'RMST_002_C9DEFBF763FA44A0', 'codt_001', 0, 2, 0, 0
UNION ALL
-- Index with origin: Menu RMS_411
SELECT 'RMST_002_C1C2A5BB84994CF8', 'codt_001', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'rmsproperty', 'RMST_002_CODT_002', 'rms';
end
GO
if (6 > isnull((select versindx from RMScfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'RMST_005_CODT_005', 'codt_005', 1, 1, 0, 1
 UNION ALL
-- Index with origin: DP FR_002PSEUDTAB_002
SELECT 'RMST_005_4AD48856DA314228', 'codt_002', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'rmscontact', 'RMST_005_CODT_005', 'rms';
end
GO
if (6 > isnull((select versindx from RMScfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'RMST_006_CODT_006', 'codt_006', 1, 1, 0, 1
 UNION ALL
-- Index with origin: DP FR_002PSEUDTAB_001
SELECT 'RMST_006_014C1EDD5C94422A', 'codt_002', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'rmsphotoalbum', 'RMST_006_CODT_006', 'rms';
end
GO

if (12 > isnull((select versindx from RMScfg),0) or 'W_GnZeroTrue'='1')
begin
-- Indíces de tabelas hardcoded (continuam da forma antiga [apagar e criar])
if (exists(select top 1 name from sys.indexes where name = 'rmsalerta_alerta01'))
	DROP INDEX rmsalerta_alerta01 ON rmsalerta
CREATE INDEX rmsalerta_alerta01 ON rmsalerta (codaltent)

if (exists(select top 1 name from sys.indexes where name = 'rmspostit_postit01'))
	DROP INDEX rmspostit_postit01 ON rmspostit
CREATE INDEX rmspostit_postit01 ON rmspostit (tabela,codtabel)

if (exists(select top 1 name from sys.indexes where name = 'rmspostit_postit02'))
	DROP INDEX rmspostit_postit02 ON rmspostit
CREATE INDEX rmspostit_postit02 ON rmspostit (codtabel)

if (exists(select top 1 name from sys.indexes where name = 'rmspostit_postit03'))
	DROP INDEX rmspostit_postit03 ON rmspostit
CREATE INDEX rmspostit_postit03 ON rmspostit (postit)

if (exists(select top 1 name from sys.indexes where name = 'rmspostit_postit04'))
	DROP INDEX rmspostit_postit04 ON rmspostit
CREATE INDEX rmspostit_postit04 ON rmspostit (tpostit)

if (exists(select top 1 name from sys.indexes where name = 'rmspostit_postit05'))
	DROP INDEX rmspostit_postit05 ON rmspostit
CREATE INDEX rmspostit_postit05 ON rmspostit (codpsw)


if (exists(select top 1 name from sys.indexes where name = 'rmspostit_postit06'))
	DROP INDEX rmspostit_postit06 ON rmspostit
CREATE INDEX rmspostit_postit06 ON rmspostit (nivel)

if (exists(select top 1 name from sys.indexes where name = 'rmspostit_postit07'))
	DROP INDEX rmspostit_postit07 ON rmspostit
CREATE INDEX rmspostit_postit07 ON rmspostit (codpost1)

if (exists(select top 1 name from sys.indexes where name = 'rmsaltent_altent01'))
	DROP INDEX rmsaltent_altent01 ON rmsaltent
CREATE INDEX rmsaltent_altent01 ON rmsaltent (codtalert,tipo)

if (exists(select top 1 name from sys.indexes where name = 'rmsdelega_delega01'))
	DROP INDEX rmsdelega_delega01 ON rmsdelega
CREATE INDEX rmsdelega_delega01 ON rmsdelega (coddelega,codpswup)

if (exists(select top 1 name from sys.indexes where name = 'rmsdelega_delega02'))
	DROP INDEX rmsdelega_delega02 ON rmsdelega
CREATE INDEX rmsdelega_delega02 ON rmsdelega (coddelega,codpswdw)

if (exists(select top 1 name from sys.indexes where name = 'docums_docums01'))
	DROP INDEX docums_docums01 ON docums
CREATE INDEX docums_docums01 ON docums (documid,versao)

if (exists(select top 1 name from sys.indexes where name = 'docums_docums02'))
	DROP INDEX docums_docums02 ON docums
CREATE INDEX docums_docums02 ON docums (nome)


if (exists(select top 1 name from sys.indexes where name = 'docums_docums03'))
	DROP INDEX docums_docums03 ON docums
CREATE INDEX docums_docums03 ON docums (tabela,ZZSTATE)

if (exists(select top 1 name from sys.indexes where name = 'rmslstusr_codpsw'))
	DROP INDEX rmslstusr_codpsw ON rmslstusr
CREATE INDEX rmslstusr_codpsw ON rmslstusr (codpsw, descric)

if (exists(select top 1 name from sys.indexes where name = 'rmslstcol_codlstusr'))
	DROP INDEX rmslstcol_codlstusr ON rmslstcol
CREATE INDEX rmslstcol_codlstusr ON rmslstcol (codlstusr)

if (exists(select top 1 name from sys.indexes where name = 'rmslstren_codlstusr'))
	DROP INDEX rmslstren_codlstusr ON rmslstren
CREATE INDEX rmslstren_codlstusr ON rmslstren (codlstusr)

if (exists(select top 1 name from sys.indexes where name = 'rmsusrwid_codlstusr'))
	DROP INDEX rmsusrwid_codlstusr ON rmsusrwid
CREATE INDEX rmsusrwid_codlstusr ON rmsusrwid (codlstusr)

if (exists(select top 1 name from sys.indexes where name = 'rmstblcfg_codpsw_uuid_name'))
	DROP INDEX rmstblcfg_codpsw_uuid_name ON rmstblcfg
CREATE INDEX rmstblcfg_codpsw_uuid_name ON rmstblcfg (codpsw, uuid, name)

if (exists(select top 1 name from sys.indexes where name = 'rmstblcfg_codpsw_uuid'))
	DROP INDEX rmstblcfg_codpsw_uuid ON rmstblcfg
CREATE INDEX rmstblcfg_codpsw_uuid ON rmstblcfg (codpsw, uuid)


if (exists(select top 1 name from sys.indexes where name = 'logrmsall_logrmsall01'))
	DROP INDEX logrmsall_logrmsall01 ON logrmsall
CREATE CLUSTERED INDEX [logrmsall_logrmsall01] ON [dbo].[logRMSall]([LOGTABLE] ASC, [LOGFIELD] ASC, [OP] ASC,[DATE] ASC) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]


UPDATE RMScfg set versindx = 12
end
GO