USE [W_GnBD]
ALTER TABLE [dbo].[ASYNCPROCESSARGUMENT] WITH NOCHECK ADD CONSTRAINT [FK_ASYNCPROCESSARGUMENT_CODS_APR_ASYNCPROCESS_CODASCPR] FOREIGN KEY([CODS_APR]) REFERENCES [dbo].[ASYNCPROCESS] ([CODASCPR])
ALTER TABLE [dbo].[ASYNCPROCESSARGUMENT] NOCHECK CONSTRAINT [FK_ASYNCPROCESSARGUMENT_CODS_APR_ASYNCPROCESS_CODASCPR]

ALTER TABLE [dbo].[ASYNCPROCESSATTACHMENTS] WITH NOCHECK ADD CONSTRAINT [FK_ASYNCPROCESSATTACHMENTS_CODS_APR_ASYNCPROCESS_CODASCPR] FOREIGN KEY([CODS_APR]) REFERENCES [dbo].[ASYNCPROCESS] ([CODASCPR])
ALTER TABLE [dbo].[ASYNCPROCESSATTACHMENTS] NOCHECK CONSTRAINT [FK_ASYNCPROCESSATTACHMENTS_CODS_APR_ASYNCPROCESS_CODASCPR]

ALTER TABLE [dbo].[USERAUTHORIZATION] WITH NOCHECK ADD CONSTRAINT [FK_USERAUTHORIZATION_CODPSW_USERLOGIN_CODPSW] FOREIGN KEY([CODPSW]) REFERENCES [dbo].[USERLOGIN] ([CODPSW])
ALTER TABLE [dbo].[USERAUTHORIZATION] NOCHECK CONSTRAINT [FK_USERAUTHORIZATION_CODPSW_USERLOGIN_CODPSW]

ALTER TABLE [dbo].[RMSCITY] WITH NOCHECK ADD CONSTRAINT [FK_RMSCITY_CODT_003_RMSCOUNTRY_CODT_003] FOREIGN KEY([CODT_003]) REFERENCES [dbo].[RMSCOUNTRY] ([CODT_003])
ALTER TABLE [dbo].[RMSCITY] NOCHECK CONSTRAINT [FK_RMSCITY_CODT_003_RMSCOUNTRY_CODT_003]

ALTER TABLE [dbo].[RMSCONTACT] WITH NOCHECK ADD CONSTRAINT [FK_RMSCONTACT_CODT_002_RMSPROPERTY_CODT_002] FOREIGN KEY([CODT_002]) REFERENCES [dbo].[RMSPROPERTY] ([CODT_002])
ALTER TABLE [dbo].[RMSCONTACT] NOCHECK CONSTRAINT [FK_RMSCONTACT_CODT_002_RMSPROPERTY_CODT_002]

ALTER TABLE [dbo].[RMSPHOTOALBUM] WITH NOCHECK ADD CONSTRAINT [FK_RMSPHOTOALBUM_CODT_002_RMSPROPERTY_CODT_002] FOREIGN KEY([CODT_002]) REFERENCES [dbo].[RMSPROPERTY] ([CODT_002])
ALTER TABLE [dbo].[RMSPHOTOALBUM] NOCHECK CONSTRAINT [FK_RMSPHOTOALBUM_CODT_002_RMSPROPERTY_CODT_002]

ALTER TABLE [dbo].[RMST_AGENT] WITH NOCHECK ADD CONSTRAINT [FK_RMST_AGENT_F_006_RMSCOUNTRY_CODT_003] FOREIGN KEY([F_006]) REFERENCES [dbo].[RMSCOUNTRY] ([CODT_003])
ALTER TABLE [dbo].[RMST_AGENT] NOCHECK CONSTRAINT [FK_RMST_AGENT_F_006_RMSCOUNTRY_CODT_003]

ALTER TABLE [dbo].[RMST_AGENT] WITH NOCHECK ADD CONSTRAINT [FK_RMST_AGENT_F_007_RMSCOUNTRY_CODT_003] FOREIGN KEY([F_007]) REFERENCES [dbo].[RMSCOUNTRY] ([CODT_003])
ALTER TABLE [dbo].[RMST_AGENT] NOCHECK CONSTRAINT [FK_RMST_AGENT_F_007_RMSCOUNTRY_CODT_003]

ALTER TABLE [dbo].[RMSPROPERTY] WITH NOCHECK ADD CONSTRAINT [FK_RMSPROPERTY_CODT_001_RMST_AGENT_CODT_001] FOREIGN KEY([CODT_001]) REFERENCES [dbo].[RMST_AGENT] ([CODT_001])
ALTER TABLE [dbo].[RMSPROPERTY] NOCHECK CONSTRAINT [FK_RMSPROPERTY_CODT_001_RMST_AGENT_CODT_001]

ALTER TABLE [dbo].[RMSPROPERTY] WITH NOCHECK ADD CONSTRAINT [FK_RMSPROPERTY_CODT_004_RMSCITY_CODT_004] FOREIGN KEY([CODT_004]) REFERENCES [dbo].[RMSCITY] ([CODT_004])
ALTER TABLE [dbo].[RMSPROPERTY] NOCHECK CONSTRAINT [FK_RMSPROPERTY_CODT_004_RMSCITY_CODT_004]

GO
