
-- recalculo de fórmulas para a tabela RMSPhotoAlbum
USE [W_GnBD]
GO
USE [W_GnBD]
GO
GO
USE [W_GnBD]
GO
GO
GO
-- recalculo de fórmulas para a tabela RMSContact
USE [W_GnBD]
GO
USE [W_GnBD]
GO
GO
USE [W_GnBD]
GO
GO
GO
-- recalculo de fórmulas para a tabela RMSProperty
USE [W_GnBD]
GO
USE [W_GnBD]
GO
GO
USE [W_GnBD]
GO
-- Layer 0
update [t_002]
SET [t_002].[order] =([t_002].[order]+1)
,[t_002].[age] =FLOOR(dbo.DateDiffPart([t_002].[yearbuilt],cast(floor(cast(CURRENT_TIMESTAMP as float)) as datetime),'D')/365)
FROM [rmsproperty] AS [t_002]


GO
GO
-- recalculo de fórmulas para a tabela RMST_Agent
USE [W_GnBD]
GO
USE [W_GnBD]
GO
USE [W_GnBD]
update [rmst_agent] set
     [propsold] = + (select isnull(count(*),0) from [rmsproperty] as source where [rmst_agent].[codt_001] = source.[codt_001] and source.zzstate = 0)
GO
USE [W_GnBD]
GO
-- Layer 0
GO
GO
-- recalculo de fórmulas para a tabela RMSCity
USE [W_GnBD]
GO
USE [W_GnBD]
GO
GO
USE [W_GnBD]
GO
GO
GO
-- recalculo de fórmulas para a tabela UserAuthorization
USE [W_GnBD]
GO
USE [W_GnBD]
GO
GO
USE [W_GnBD]
GO
-- Layer 0
update [s_ua]
SET [s_ua].[naodupli] =dbo.KeyToString([s_ua].[codpsw])+[s_ua].[modulo]
,[s_ua].[nivel] =dbo.GetLevelFromRole(0,[s_ua].[role])
FROM [userauthorization] AS [s_ua]


GO
GO
-- recalculo de fórmulas para a tabela AsyncProcessAttachments
USE [W_GnBD]
GO
USE [W_GnBD]
GO
GO
USE [W_GnBD]
GO
GO
GO
-- recalculo de fórmulas para a tabela AsyncProcessArgument
USE [W_GnBD]
GO
USE [W_GnBD]
GO
GO
USE [W_GnBD]
GO
GO
GO
-- recalculo de fórmulas para a tabela RMSCountry
USE [W_GnBD]
GO
USE [W_GnBD]
GO
GO
USE [W_GnBD]
GO
GO
GO
-- recalculo de fórmulas para a tabela NotificationMessage
USE [W_GnBD]
GO
USE [W_GnBD]
GO
GO
USE [W_GnBD]
GO
GO
GO
-- recalculo de fórmulas para a tabela NotificationEmailSignature
USE [W_GnBD]
GO
USE [W_GnBD]
GO
GO
USE [W_GnBD]
GO
GO
GO
-- recalculo de fórmulas para a tabela AsyncProcess
USE [W_GnBD]
GO
USE [W_GnBD]
GO
GO
USE [W_GnBD]
GO
-- Layer 0
update [s_apr]
SET [s_apr].[finished] =(case when ([s_apr].[status]='T' or [s_apr].[status]='AB' or [s_apr].[status]='C') then 1 else 0 end)
FROM [asyncprocess] AS [s_apr]


GO
GO
-- recalculo de fórmulas para a tabela UserLogin
USE [W_GnBD]
GO
USE [W_GnBD]
GO
GO
USE [W_GnBD]
GO
GO
GO
-- recalculo de fórmulas para a tabela RMSMEM
USE [W_GnBD]
GO
USE [W_GnBD]
GO
GO
USE [W_GnBD]
GO
GO
GO


GO