USE [W_GnBD]
DECLARE @nextcod bigint

if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'UserLogin')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('UserLogin', coalesce(cast((select max(codpsw) from UserLogin) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'NotificationEmailSignature')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('NotificationEmailSignature', coalesce(cast((select max(codsigna) from NotificationEmailSignature) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'NotificationMessage')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('NotificationMessage', coalesce(cast((select max(codmesgs) from NotificationMessage) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'AsyncProcessAttachments')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('AsyncProcessAttachments', coalesce(cast((select max(codpranx) from AsyncProcessAttachments) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'UserAuthorization')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('UserAuthorization', coalesce(cast((select max(codua) from UserAuthorization) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'RMSMEM')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('RMSMEM', coalesce(cast((select max(CODMEM) from RMSMEM) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'RMSCFG')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('RMSCFG', coalesce(cast((select max(CODCFG) from RMSCFG) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'RMSUSRSET')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('RMSUSRSET', coalesce(cast((select max(CODUSRSET) from RMSUSRSET) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'RMSUSRCFG')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('RMSUSRCFG', coalesce(cast((select max(CODUSRCFG) from RMSUSRCFG) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'RMSWKFACT')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('RMSWKFACT', coalesce(cast((select max(CODWKFACT) from RMSWKFACT) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'RMSWKFCON')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('RMSWKFCON', coalesce(cast((select max(CODWKFCON) from RMSWKFCON) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'RMSWKFLIG')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('RMSWKFLIG', coalesce(cast((select max(CODWKFLIG) from RMSWKFLIG) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'RMSWKFLOW')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('RMSWKFLOW', coalesce(cast((select max(CODWKFLOW) from RMSWKFLOW) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'RMSNOTIFI')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('RMSNOTIFI', coalesce(cast((select max(CODNOTIFI) from RMSNOTIFI) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'RMSSCRCRD')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('RMSSCRCRD', coalesce(cast((select max(CODSCRCRD) from RMSSCRCRD) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'RMSPOSTIT')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('RMSPOSTIT', coalesce(cast((select max(CODPOSTIT) from RMSPOSTIT) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'RMSPRMFRM')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('RMSPRMFRM', coalesce(cast((select max(CODPRMFRM) from RMSPRMFRM) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'RMSALERTA')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('RMSALERTA', coalesce(cast((select max(CODALERTA) from RMSALERTA) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'RMSALTENT')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('RMSALTENT', coalesce(cast((select max(CODALTENT) from RMSALTENT) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'RMSTALERT')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('RMSTALERT', coalesce(cast((select max(CODTALERT) from RMSTALERT) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'RMSDELEGA')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('RMSDELEGA', coalesce(cast((select max(CODDELEGA) from RMSDELEGA) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'RMSLSTUSR')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('RMSLSTUSR', coalesce(cast((select max(CODLSTUSR) from RMSLSTUSR) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'RMSLSTCOL')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('RMSLSTCOL', coalesce(cast((select max(CODLSTCOL) from RMSLSTCOL) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'RMSLSTREN')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('RMSLSTREN', coalesce(cast((select max(CODLSTREN) from RMSLSTREN) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'RMSUSRWID')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('RMSUSRWID', coalesce(cast((select max(CODUSRWID) from RMSUSRWID) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'RMSTBLCFG')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('RMSTBLCFG', coalesce(cast((select max(CODTBLCFG) from RMSTBLCFG) as bigint) + 1, 1))

if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'HASHCD')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('HASHCD', coalesce(cast((select max(codHASHCD) from HASHCD) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'DOCUMS')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('DOCUMS', coalesce(cast((select max(codDOCUMS) from DOCUMS) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'UserAuthorization')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('UserAuthorization', coalesce(cast((select max(CODUA) from UserAuthorization) as int) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'RMSWORKFLOWPROCESS')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('RMSWORKFLOWPROCESS', coalesce(cast((select max(CODPRCESS) from RMSWORKFLOWPROCESS) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'RMSWORKFLOWTASK')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('RMSWORKFLOWTASK', coalesce(cast((select max(CODTASK) from RMSWORKFLOWTASK) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'NotificationEmailSignature')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('NotificationEmailSignature', coalesce(cast((select max(codsigna) from NotificationEmailSignature) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'NotificationMessage')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('NotificationMessage', coalesce(cast((select max(codmesgs) from NotificationMessage) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'ReportList')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('ReportList', coalesce(cast((select max(CODREPORT) from ReportList) as bigint) + 1, 1))
GO
 