IF((SELECT COUNT(1) FROM RMScfg) = 0)
	INSERT INTO RMScfg (codcfg, checkdat, versao, versindx, manutdat, upgrindx, zzstate) VALUES ('     1', GETDATE(), 2503, 0, NULL, 0, 0)
ELSE
  UPDATE RMScfg set versao = 2503;
GO
